@using StarLink_Blog.Enums
@using StarLink_Blog.Services.Interfaces
@model IEnumerable<StarLink_Blog.Models.BlogPost>

@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService
@{

}

<!-- Start Sidebar Area  -->
<div class="sidebar-inner">

     <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        
       <ul>
            <!-- Start Post List  -->
          

            <!-- Start Single Post  -->
            @*FOREACH popular posts*@
            @foreach (Category category in (await _BlogPostService.GetCategoriesAsync()).Take(4))
            {
                <li class="cat-item">
                   @*  <li><a asp-controller="Categories" asp-action="Index">Categories</a></li>*@
                <a asp-action="Details" asp-controller="Categories" asp-route-id="@category.Id" class="inner">
                        <div class="thumbnail">
                                          <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!, category.ImageType!, (int)DefaultImage.CategoryImage)" alt="Category Image">
                        </div>
                        <div class="content">
                            <h5 class="title">@category.Name</h5>

                        </div>
                    </a>
                    
                </li>

            }
            <!-- End Single Post  -->
        </ul>
   </div>
      
        <!-- End Post List  -->



   

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form class="header-search-form d-sm-block d-none" asp-controller="Home" asp-action="SearchIndex">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" name="SearchString" id="SearchString">
            </div>
        </form>
    </div>
    <!-- End Single Widget  -->



    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular on Blogar</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">

            <!-- Start Single Post  -->
           
            @*FOREACH popular posts*@
            @foreach (BlogPost blogPost in (await _BlogPostService.GetPopularBlogPostAsync()).Take(5))
            {
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                             <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!, (int)DefaultImage.BlogPostImage)" alt="Post Images">
                        </a>

                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                @blogPost.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@blogPost.CreatedDate.ToString("MMM dd, yyyy")</li>
                                <li>@blogPost.Comments.Count Comments</li>
                            </ul>
                        </div>
                    </div>

                </div>
            }
            <!-- End Single Post  -->

        </div>
        <!-- End Post List  -->

    </div>
    <!-- End Single Widget  -->


    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Most Recent Posts</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">

            <!-- Start Single Post  -->
            @*FOREACH popular posts*@
            @foreach (BlogPost blogPost in await _BlogPostService.GetRecentBlogPostAsync(3))
            {
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!, (int)DefaultImage.BlogPostImage)" alt="Post Images">
                        </a>

                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                @blogPost.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@blogPost.CreatedDate.ToString("MMM dd, yyyy")</li>
                                <li>@blogPost.Comments.Count Comments</li>
                            </ul>
                        </div>
                    </div>

                </div>
            }
            <!-- End Single Post  -->

        </div>
        <!-- End Post List  -->

    </div>
    <!-- End Single Widget  -->
   

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-slack"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_instagram mb--30">
        <h5 class="widget-title">Instagram</h5>
        <!-- Start Post List  -->
        <ul class="instagram-post-list-wrapper">
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-01.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-02.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-03.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-04.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-05.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-06.jpg" alt="Instagram Images">
                </a>
            </li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->
</div>
<!-- End Sidebar Area  -->
