@model StarLink_Blog.Models.BlogPost
@using StarLink_Blog.Enums
@using StarLink_Blog.Services.Interfaces
@inject IImageService ImageService


@{
	ViewData["Title"] = "Details";
}


<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<!-- Start Banner Area -->
				<div class="banner banner-single-post post-formate post-layout pb--40">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<!-- Start Single Slide  -->
								<div class="content-block">
									<!-- Start Post Content  -->
									<div class="post-content">
										<div class="post-cat">
											<div class="post-cat-list">
												<a class="hover-flip-item-wrapper" href="#">
													<span class="hover-flip-item">
														<span data-text="FEATURED POST">FEATURED POST</span>
													</span>
												</a>
											</div>
										</div>
										<h1 class="title">
											@Model.Title
										</h1>
										<!-- Post Meta  -->
										<div class="post-meta-wrapper">
											<div class="post-meta">
												<div class="post-author-avatar border-rounded">
													<img src="@ImageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Author Images" style="height:80%;width:30%;">
												</div>
												<div class="content">
													<h6 class="post-author-name">
														<a class="hover-flip-item-wrapper" href="author.html">
															<span class="hover-flip-item">
																<span data-text="@Model.Creator?.FullName">@Model.Creator?.FullName</span>
															</span>
														</a>
													</h6>
													<ul class="post-meta-list">
														<li>@Model.CreatedDate.ToString("MMM dd, yyyy")</li>
														<li>@Model.Comments.Count() Comments</li>
													</ul>
												</div>
											</div>
											<ul class="social-share-transparent justify-content-end">
												<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#"><i class="fab fa-instagram"></i></a></li>
												<li><a href="#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#"><i class="fas fa-link"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- End Post Content  -->
								</div>
								<!-- End Single Slide  -->
							</div>
						</div>
					</div>
				</div>
				<!-- End Banner Area -->
				<!-- Start Blog Details  -->
				<div class="axil-post-details">
					<p class="has-medium-font-size">
						@Model.Abstract
					</p>
					@*    <figure class="wp-block-image alignwide text-center">
					<img src="assets/images/post-single/post-single-06.jpg" alt="Post Images">
					<figcaption>
					The Apple Design Award trophy, created by the Apple Design team, is a symbol
					of achievement and excellence.
					</figcaption>
					</figure>*@
					<p>
						@Html.Raw(Model.Content)
					</p>



					<div class="tagcloud">

						@foreach (Tag tag in Model.Tags)
						{
							<a href="#">@tag.Name</a>
						}


					</div>

					<div class="social-share-block">
						<div class="post-like">
							<a href="#"><i class="fal fa-thumbs-up"></i><span>2.2k Like</span></a>
						</div>
						<ul class="social-icon icon-rounded-transparent md-size">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>

					<!-- Start Author  -->
					<div class="about-author">
						<div class="media">
							<div class="thumbnail">
								<a href="#">
									<img src="assets/images/post-images/author/author-b1.png" alt="Author Images">
								</a>
							</div>
							<div class="media-body">
								<div class="author-info">
									<h5 class="title">
										<a class="hover-flip-item-wrapper" href="#">
											<span class="hover-flip-item">
												<span data-text="Ocean Peña">Ocean Peña</span>
											</span>
										</a>
									</h5>
									<span class="b3 subtitle">Sr. UX Designer</span>
								</div>
								<div class="content">
									<p class="b1 description">
										More about me.
									</p>
									<ul class="social-share-transparent size-md">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="far fa-envelope"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Author  -->
					<!-- Start Comment Form Area  -->
					<div class="axil-comment-area">
						<div class="axil-total-comment-post">
							<div class="title">
								<h4 class="mb--0">@Model.Comments.Count() Comments</h4>
							</div>
							<div class="add-comment-button cerchio">
								<a class="axil-button button-rounded" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "BlogPosts", new { slug = Model.Slug })" tabindex="0"><span>Add Your Comment</span></a>
							</div>
						</div>
						@if (User.Identity!.IsAuthenticated)
						{
							<!-- Start Comment Respond  -->
							<div class="comment-respond">
								<h4 class="title">Post a comment</h4>
								<form asp-action="Create" asp-controller="Comments" method="post">
									<input type="hidden" asp-for="Id" name="BlogPostId" />
									<input type="hidden" asp-for="Slug" />


									<div class="col-12">
										<div class="form-group">
											<label for="message">Post a comment</label>
											<textarea name="Body" rows="3" class="form-control editor"></textarea>
										</div>
									</div>

									<div class="col-lg-12">
										<div class="form-submit cerchio">
											<input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
										</div>
									</div>

								</form>
							</div>
							<!-- End Comment Respond  -->
						}


						<!-- Start Comment Area  -->
						<div class="axil-comment-area">
							<h4 class="title">@Model.Comments.Count() comments</h4>
							<ul class="comment-list">
								
								@foreach (Comment comment in Model.Comments)
								{
									<!-- Start Single Comment  -->
									<li class="comment">
										<div class="comment-body">
											<div class="single-comment">
												<div class="comment-img">
													<img src="@ImageService.ConvertByteArrayToFile(comment.Author!.ImageData!, comment.Author.ImageType!,(int)DefaultImage.BlogUserImage)" alt="Author Images" height="60">
												</div>
												<div class="comment-inner">
													<h6 class="commenter">
														<a class="hover-flip-item-wrapper" href="#">
															<span class="hover-flip-item">
																<span data-text="@comment.Author!.FullName">@comment.Author.FullName</span>
															</span>
														</a>
													</h6>
													<div class="comment-meta">
														<div class="time-spent">@comment.CreatedDate.ToString("hh:mm tt - MMM dd, yyyy")</div>
														@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
														{
															<a class="comment-reply-link hover-flip-item-wrapper" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">
																<span class="hover-flip-item">
																	<span data-text="Delete">Delete</span>
																</span>
															</a>
														}
													</div>
													<div class="comment-text">
														<p class="b2">
															@Html.Raw(comment.Body)
														</p>
													</div>
												</div>
											</div>
										</div>
									</li>
									<!-- End Single Comment  -->
								}
							</ul>
								
						</div>
						<!-- End Comment Area  -->

					</div>
					<!-- End Comment Form Area  -->


				</div>
				<!-- End Blog Details  -->
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		ClassicEditor
			.create(document.querySelector('.editor'))
			.catch(error => {
				console.error(error);
			});
	</script>

    }


<!-- End Post Single Wrapper  -->
<@* @if (User.Identity!.IsAuthenticated)
	{
	<div class="row">
	<div class="col-md-4">
	<form asp-action="Create" asp-controller="Comments" method="post">
	<input type="hidden" asp-for="Id" name="BlogPostId" />
	<input type="hidden" asp-for="Slug" />
	<div class="form-group">
	<label class="control-label">Add a Comments</label>
	<textarea name="Body" rows="3" class="form-control"></textarea>
	</div>
	<div class="form-group">
	<input type="submit" value="Create" class="btn btn-primary" />
	</div>
	</form>
	</div>
	</div>
	}
	<div class="row">
	<ul>
	@foreach (Comment comment in Model.Comments)
	{
	<li>@comment.Body</li>
	}
	</ul>
	</div>
	<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
	</div>
	*@